QuanLiCaPhe/Connected Services/BangLuongService/BangLuongService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO_QLCP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BangLuong">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MucLuong" type="xs:float" />
      <xs:element minOccurs="0" name="TenNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thang" type="xs:int" />
      <xs:element minOccurs="0" name="TienLuong" type="xs:float" />
      <xs:element minOccurs="0" name="TongGioLam" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BangLuong" nillable="true" type="tns:BangLuong" />
</xs:schema>