QuanLiCaPhe/Connected Services/BangLuongService/BangLuongService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51914/BangLuongService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layChucVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layChucVuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layGioLam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layGioLamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layGioLamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraBangLuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraBangLuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kiemTraBangLuongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemBangLuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="bl" nillable="true" type="q1:BangLuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemBangLuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemBangLuongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaBangLuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="bl" nillable="true" type="q2:BangLuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaBangLuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaBangLuongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>