QuanLiCaPhe/Connected Services/ChamCongNVService/ChamCongNVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChamCongNVService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51914/ChamCongNVService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51914/ChamCongNVService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51914/ChamCongNVService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:51914/ChamCongNVService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChamCongNVService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_getDSCCNV_InputMessage">
    <wsdl:part name="parameters" element="tns:getDSCCNV" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_getDSCCNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDSCCNVResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_getTenNV_InputMessage">
    <wsdl:part name="parameters" element="tns:getTenNV" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_getTenNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTenNVResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_kiemtraCCNV_InputMessage">
    <wsdl:part name="parameters" element="tns:kiemtraCCNV" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_kiemtraCCNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:kiemtraCCNVResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_ThemCC_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemCC" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_ThemCC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemCCResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_SuaCC_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaCC" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_SuaCC_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaCCResponse" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_XoaCC_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaCC" />
  </wsdl:message>
  <wsdl:message name="IChamCongNVService_XoaCC_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaCCResponse" />
  </wsdl:message>
  <wsdl:portType name="IChamCongNVService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/DoWork" message="tns:IChamCongNVService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/DoWorkResponse" message="tns:IChamCongNVService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDSCCNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/getDSCCNV" message="tns:IChamCongNVService_getDSCCNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/getDSCCNVResponse" message="tns:IChamCongNVService_getDSCCNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTenNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/getTenNV" message="tns:IChamCongNVService_getTenNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/getTenNVResponse" message="tns:IChamCongNVService_getTenNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kiemtraCCNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/kiemtraCCNV" message="tns:IChamCongNVService_kiemtraCCNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/kiemtraCCNVResponse" message="tns:IChamCongNVService_kiemtraCCNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemCC">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/ThemCC" message="tns:IChamCongNVService_ThemCC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/ThemCCResponse" message="tns:IChamCongNVService_ThemCC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaCC">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/SuaCC" message="tns:IChamCongNVService_SuaCC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/SuaCCResponse" message="tns:IChamCongNVService_SuaCC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaCC">
      <wsdl:input wsaw:Action="http://tempuri.org/IChamCongNVService/XoaCC" message="tns:IChamCongNVService_XoaCC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChamCongNVService/XoaCCResponse" message="tns:IChamCongNVService_XoaCC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChamCongNVService" type="tns:IChamCongNVService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDSCCNV">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/getDSCCNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTenNV">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/getTenNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kiemtraCCNV">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/kiemtraCCNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemCC">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/ThemCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaCC">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/SuaCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCC">
      <soap:operation soapAction="http://tempuri.org/IChamCongNVService/XoaCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChamCongNVService">
    <wsdl:port name="BasicHttpBinding_IChamCongNVService" binding="tns:BasicHttpBinding_IChamCongNVService">
      <soap:address location="http://localhost:51914/ChamCongNVService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>