QuanLiCaPhe/Connected Services/ChamCongNVService/ChamCongNVService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO_QLCP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChamCongNV">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaLam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayLam" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoGioLam" type="xs:float" />
      <xs:element minOccurs="0" name="TenNV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChamCongNV" nillable="true" type="tns:ChamCongNV" />
</xs:schema>