QuanLiCaPhe/Connected Services/ChamCongNVService/ChamCongNVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51914/ChamCongNVService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDSCCNV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDSCCNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDSCCNVResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTenNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTenNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTenNVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemtraCCNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="caLam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemtraCCNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kiemtraCCNVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ccnv" nillable="true" type="q1:ChamCongNV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemCCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ccnv" nillable="true" type="q2:ChamCongNV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaCCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ccnv" nillable="true" type="q3:ChamCongNV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaCCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>